@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
:root{
    --cor-de-fundo:#FABFBF;
    --cor-de-texto:#8D0921;
    --cor-botao:#A69EFF;
    --cor-quadrado:#FE9AAC;
}

body{
    background-color: var(--cor-de-fundo);
color: var(--cor-de-texto);
}